{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            ">0.25%",
            "not ie 11",
            "not op_mini all",
            "last 2 versions"
          ],
          "esmodules": true
        }
      }
    ],
    "@babel/preset-react"
  ]
}