/* 
I refuse to refactor this montrocity
...
Gimme at least a month
*/
body {
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.navbar {
	font-size: 14px;
	background-color:rgb(240,235,230); 
	color: rgba(0,0,0,.5);
	border: 1px solid rgba(0,0,0,0.2);
	margin-bottom:10px;
	min-height:40px;
	height: max-content;
}

.main-nav  {
	list-style-type:none;
	padding:0px;
	margin:0px;
	display:none;
}

.active {
	display: block;
}

.logo {
	color: rgb(0,0,0,0.9);
	text-decoration:none;
	display:flex;
	flex-direction: row;
	font-size: 20px;
	/* padding-top: 7px; */
	margin-left: 10px;
	height:100%;
}

.home-icon {
	margin-top:7px;
	position:relative;
}

.home-text {
	margin-top:8px;
	margin-left:3px;
}

.main-nav li a {
	text-decoration: none;
	color: rgb(0,0,0,0.7);
}

.main-nav li {
	text-align: center;
	padding:7px;
	margin-top:5px;
	border: 1px solid rgb(220,215,210);
	border-radius: 3px;
}

.navbar-toggle {
	float:right;
	margin-top:7px;
	margin-right:10px;
}

@media screen and (min-width: 768px) {

	.navbar {
		display: flex;
		padding-bottom: 0;
		height: 40px;
		align-items: center;
		flex: 1 1 0;
	}

	.main-nav {
		display: flex;
		margin-right: 30px;
		flex-direction: row;
		justify-content: flex-start;
		width:100%;
		flex: 1 1 0;
		padding-top:3px;
	}

	.main-nav li {
		margin: 0;
		border: 0px;
		margin-left: 25px;
	}


	.logo {
		margin-top: 0;
	}

	.navbar-toggle {
		display: none;
	}
}

.logo:hover,
.main-nav li a:hover {
	color: rgb(56, 168, 233);
	cursor:pointer;
}

.container-grid {
	margin-top: 0px;
	width: 100%;
	text-align: center;
	margin-bottom:40px;
}

.four-oh-four-container {
	display:flex;
	flex-direction: column;
}
