.navbar {
  width:100%;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
  width:100%;
  padding-left: 10px;
}

.nav-list li {
  text-decoration: none;
  flex-wrap: wrap;
  margin-left: 15px;
  margin-right:15px;
}