.why {
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left:10%;
  width:80%;
  display:block;
  white-space: pre-line;
  grid-column: 2/3;
  grid-row: 1/2;
}