.breadcrumbs
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  display: flex
  margin-bottom: 1em

  div
    margin-right: 0.25em

  &-previous
    color: #5a8aff 