.navbar
  display: flex
  margin-bottom: 1em
  justify-content: center
  flex-wrap: wrap
  margin-left: 0.5em
  margin-right: 0.5em

  .link
    display: flex
    align-items: center
    margin-left: 0.5em
    margin-right: 0.5em
    color: black
    word-break: keep-all

  & i
    margin-right: 0.1em

